$fontSpecial: "Arial Thin", sans-serif;
$strongFontWeight: 600;
$text: rgb(39, 39, 39);
$link: #5357a6;
$linkHover: #841e1e;
$bodybg: #f8fbfe;
$glossaryHighlight: rgb(18, 136, 67);

// rem to px: * 16 | px to rem: / 16

@mixin marginCentre {
  margin-left: auto;
  margin-right: auto;
}

@mixin constrain($width, $maxwidth) {
  width: $width;
  max-width: $maxwidth;
}

/* Hide but screenreader can see it */
@mixin screenReaderHide {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

/* Unhide screenReaderHide so everyone can see it */
@mixin screenReaderShow {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
}

@mixin button {
  padding: 0.5rem;
  background-color: white;
  color: $link;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.11);
  border: 0;
  border-radius: 0 0 0 0.5rem;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: $fontSpecial;
  font-weight: $strongFontWeight;
  &:hover {
    color: $text;
  }
  span {
    margin: 0;
  }

  .openClose {
    padding-left: 0.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 1rem;
  @media screen and (min-width: 1400px) {
    margin-bottom: 1.5rem;
  }
}

html {
  overflow-y: scroll;
  margin-bottom: 0;
  font-size: 100%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $bodybg;
  color: $text;

  @media screen and (min-width: 1400px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $fontSpecial;
}

h1 {
  font-size: 2rem;
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @media screen and (min-width: 960px) {
    font-size: 3rem;
    padding: 2rem 0 0 0;
  }
}

h2 {
  font-size: 1.6rem;

  padding-top: 1.5rem;

  @media screen and (min-width: 960px) {
    font-size: 1.9rem;
    padding-top: 2rem;
  }
}

h3 {
  font-size: 1.4rem;
  padding-top: 1rem;

  @media screen and (min-width: 960px) {
    font-size: 1.6rem;
    padding-top: 2rem;
  }
}

h4 {
  font-size: 1.3rem;

  @media screen and (min-width: 960px) {
    font-size: 1.4rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
  @include marginCentre;
}
li p {
  width: 100%;
}

/* If width: fit-content/-moz-fit-content not supported everything will align left */
@supports ((width: fit-content) or (width: -moz-fit-content)) {
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  p,
  .glossary {
    width: -moz-fit-content;
    width: fit-content;
    @include marginCentre;
  }
  .sars-cov-19,
  .vaccine-type {
    @include marginCentre;
  }
}

dl,
ul,
ol,
p {
  max-width: 60ch;
}

.main {
  margin-bottom: 0;
}

.header {
  &-image {
    @include constrain(90%, 25rem);
  }

  span {
    display: block;
    text-align: center;
  }

  p {
    border-bottom: 5px solid $text;
    padding-bottom: 1rem;
    @media screen and (min-width: 1280px) {
      padding-bottom: 2rem;
      border-bottom: 8px solid $text;
    }
  }
}

.container {
  padding: 0 1rem 1rem 1rem;

  @media screen and (min-width: 740px) {
    padding-top: 2rem;
    padding: 2rem 0 1rem 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}

.article {
  padding-bottom: 2rem;
  max-width: 110.25rem;
  margin-bottom: 0;

  @include marginCentre;

  @media screen and (min-width: 1280px) {
    padding-bottom: 3rem;
  }
}

.sars-cov-19 {
  @include constrain(70%, 30rem);
}

.vaccine-type {
  @include constrain(70%, 26.5rem);
}

.image-info {
  padding: 1rem 0;
  border-bottom: 2px solid $text;

  &.no-border {
    border: 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 2rem 0;
    display: flex;

    &-reverse {
      flex-direction: row-reverse;
    }
    justify-content: space-between;

    ul,
    ol,
    p {
      width: auto;
      @include marginCentre;
    }
  }

  &-image {
    display: block;

    @media screen and (min-width: 1024px) {
      width: 50%;
    }

    img {
      border: 1px solid rgb(138, 137, 137);
      max-width: 100%;
      @media screen and (min-width: 740px) {
        max-width: 90%;
      }
    }
  }

  &-info {
    padding: 1rem 0;
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 0 2rem;
    }
  }
}

.counter-list {
  padding-left: 0;
  margin-bottom: 0;
  overflow: hidden;

  li {
    counter-increment: list-number;
    position: relative;
    padding-left: 3rem;
    p {
      margin-bottom: 0;
    }
    &::before {
      content: counter(list-number);
      margin: 0 0 0 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      height: 2rem;
      text-align: center;
      font-size: 1rem;
      font-family: $fontSpecial;
      font-weight: $strongFontWeight;
      background-color: white;
      border: 3px solid $text;
      border-radius: 50%;
      color: $text;
      line-height: 1.7rem;
    }
  }
}

.page-footer {
  padding-bottom: 2rem;
  border-top: 5px solid $text;

  @media screen and (min-width: 1280px) {
    border-top: 8px solid $text;
    padding-bottom: 3rem;
  }
}

a {
  font-family: $fontSpecial;
  text-decoration: none;
  font-weight: 600;
  color: $link;

  &.url-text {
    word-break: break-all;
  }

  &:hover {
    color: $linkHover;
  }
  &.ref {
    display: block;
    padding-top: 1rem;
    text-align: right;
    font-weight: 400;
    border-bottom: 1px dotted $link;
  }
}

/* GLOSSARY */

/* Containers grow/shrink only at min-width 1280px */
.content {
  &-wrapper {
    margin-bottom: 0;
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }
  &-aside {
    margin-bottom: 0;
    border-top: 2px solid $text;
    @media screen and (min-width: 1280px) {
      background: rgb(233, 235, 145);
    }

    @media screen and (min-width: 1280px) {
      @include screenReaderHide;
      transition: width 1s;

      &-grow {
        border-left: 2px solid $text;
        border-top: 0;
        @include screenReaderShow;
        width: 30%;
      }
    }
  }

  &-main {
    margin-bottom: 0;

    width: 100%;
    transition: width 1s;

    &-shrink {
      @media screen and (min-width: 1280px) {
        width: 70%;
      }
    }
  }
}

/* glossary styles */
.glossary {
  padding-bottom: 2rem;

  @media screen and (min-width: 1280px) {
    padding: 4rem 2rem 2rem 2rem;
  }

  &-title {
    @media screen and (min-width: 1280px) {
      @include screenReaderHide;
    }
  }

  &-back {
    display: block;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &-links {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-anchor {
    display: block;
    @include button;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &-button {
    display: none;

    @include button;

    .openClose {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
    }
  }

  dl {
    font-size: 1rem;
  }

  dt {
    font-weight: $strongFontWeight;
    font-family: $fontSpecial;

    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }
  }

  dd {
    margin-left: 1rem;
    @media screen and (min-width: 1024px) {
      margin-left: 0;
    }
  }
  p {
    width: auto;
    font-size: 1rem;
  }

  &-text-highlight {
    color: $glossaryHighlight;
  }
}
